<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.servicenovigrad">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditService"></activity>
        <activity android:name=".SubmitRequest" />
        <activity android:name=".ServicesOfGivenBranch" />
        <activity android:name=".BranchesByServiceType" />
        <activity android:name=".SearchByService" />
        <activity android:name=".EditBranchHours" />
        <activity android:name=".EditEmployeeInfo" />
        <activity android:name=".SetEmployeeInfo" />
        <activity android:name=".EmployeeServiceRequests" />
        <activity android:name=".ViewRequest" />
        <activity android:name=".DeleteAccount" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomePage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Signup" />
        <activity android:name=".AdminWelcome" />
        <activity android:name=".CurrentService" />
        <activity android:name=".CreateNewServices" />
        <activity android:name=".AddBranchService" />
        <activity android:name=".CurrentBranchServices" />
        <activity android:name=".EmployeeWelcome" />
    </application>

</manifest>